<br><br><br><br><br>
    <div class="container1">
      <div class="col-sm-6">
        <div style="text-align: left;width: 613px; padding: 0;">
            <h1 style="font: normal 179% 'century gothic', arial, sans-serif;color: #0a0a0a;margin: 0 0 15px 0; padding: 15px 0 5px 0;">About Us</h1>
            <span style="float: left;width: auto; margin-right: 10px;"><img style="width:100px;" src="images/maleicon.png"  alt="example graphic" /></span>
            <p>
            <div style="font-weight:bold">Jatin Talwar</div> Role: Developer Email: JATIN.TALWAR@stu.bmcc.cuny.edu<br>
            Responsible for every part of the website, from the layout design of the webpage to the functionality of all the pages.
            </p>
            <p /><p></p>
            
            </div>
      </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br>
 <!-- //////////////////////////////////////     FOOTER    ////////////////////////////////////////////////////////////// -->

<div class="container my-5"></div>
<footer  style="border-top:  solid 7px;border-image: linear-gradient( 90deg, rgba(249,219,59,1) 20%, rgba(0,174,255,1) 80%) 1; font-family: Arial" class="text-white text-center text-lg-start bg-dark">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <div class="row mt-4">
      <!--Grid column-->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">About company</h5>

        <p>
          Timeless Watches is a company that is engaged in the retail trade of quality timepieces with affordable prices. We offer 
          a variety of collections designed for clients who are looking for a timepiece that fits their personality. Our store 
          makes sure to offer a perfect combination of competitive pricing and excellent customer service in showcasing our brands
           such as Rolex, Versace, Cartier, Patek Philippe, Audemars Piguet, and many more!
        </p>

        
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4 pb-1">Search something</h5>

        <div class="form-outline form-white mb-4">
          <input type="text" id="formControlLg" class="form-control form-control-lg" />
          <label class="form-label" for="formControlLg">Search</label>
        </div>
<br>
        <ul class="fa-ul" style="padding-left: 0px; list-style: none">
          <li class="mb-3" ><ion-icon name="location"></ion-icon>
            <span class="fa-li"><i class="fas fa-home"></i> </span><span class="ms-2">New York, NY</span>
          </li>
          <li class="mb-3"><ion-icon name="mail"></ion-icon>
            <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">timelesswatches@gmail.com</span>
          </li>
          <li class="mb-3"><ion-icon name="call"></ion-icon>
            <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">+ 12 345 678 90</span>
          </li>
        </ul>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Opening hours</h5>

        <table class="table text-center text-white">
          <tbody class="fw-normal">
            <tr>
              <td>Mon - Thu:</td>
              <td>8am - 9pm</td>
            </tr>
            <tr>
              <td>Fri - Sat:</td>
              <td>8am - 1am</td>
            </tr>
            <tr>
              <td>Sunday:</td>
              <td>9am - 10pm</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ion-icon name="logo-facebook" size="large" style="padding-right: 30px;"></ion-icon>
      <ion-icon name="logo-twitter" size="large" style="padding-right: 30px;"></ion-icon>
      <ion-icon name="logo-instagram" size="large"></ion-icon>
      <!--Grid column-->
    </div>
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); font-family: Arial">
    © 2022 Copyright:
    <a class="text-white" href="https://mdbootstrap.com/">TimelessWatches.com</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- //////////////////////////////////////     FOOTER END    ////////////////////////////////////////////////////////////// -->