<br><br><br><br><br>
<div class="container1">
    <div class="col-sm-6">
    <div style="text-align: left;width: 613px; padding: 0;">
   
   <br><br>
    <div id="content" class="contentSection">
    <h2 style="padding-left: 70px;">Thank you for shopping with us!</h2>
    <br>
    <a style="padding-left: 210px;" href="products">GO BACK SHOPPING</a>
   
   
    </div>
    </div>
    </div>
</div>