<br><br><br><br>
    <div class="container1">
      <div class="col-sm-6">
        <div style="text-align: left;width: 613px; padding: 0;">
            <div id="content">
                <h1 style="font: normal 179% 'century gothic', arial, sans-serif;color: #020202;margin: 0 0 15px 0;padding: 15px 0 5px 0;" >Login</h1>
                <form action="loginx" method="get">
                <div class="form_settings">
                <p><span>Username:</span><input style="border: 3px solid #1E5CD7; border-radius: 5px " class="contact" type="text" name="userid" value="" /></p>
                <p><span>Password:</span><input style="border: 3px solid #1E5CD7; border-radius: 5px " class="contact" type="password" name="password" value="" /></p>
                <p style="padding-top: 25px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="Submit" />
                  <br>
                  <br><span>&nbsp;</span><a style="margin-left:20px" href="registration">Register</a>
                </p>
                </div>
                </form>
                </div>
      </div>
    </div>
  </div>
 
