
<br><br><br><br><br>
    <div class="container1">
        <div class="col-sm-6">
          <div style="text-align: left;width: 613px; padding: 0;">
              <div id="content">
                  <h1 style="font: normal 179% 'century gothic', arial, sans-serif;color: #030303;margin: 0 0 15px 0;padding: 15px 0 5px 0;" >Logoff</h1>
                  <form action="logoff" method="post">
                  <div class="form_settings">
                  
                  <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="contact_submitted" value="Logoff" />
                  </p>
                  </div>
                  </form>
                  </div>
        </div>
      </div>
    </div>
    
  